body{
    margin: 0 auto;
    background-color:rgb(41, 41, 41);
}

button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 100px;
    margin-top: 250px;
    width:170px;
    font-size: 40px;
    height: 60px;
    border-radius: 20px 0px 20px 0px;
} 

/* @media {
    button:hover{
        transform: scale(1.s);
      transition: 1s;
      box-shadow: 0px 0px 30px 5px rgb(255, 255, 255);
    }

 
}; */



button{
    animation-name: button;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes button{
    0%, 100%{
     box-shadow: 0px 0px 36px 5px rgb(255, 255, 255);
    }
    50%{
     box-shadow: 0px 0px 36px 5px rgb(0, 0, 0);
    }
 }
 button:hover,
 button:focus
 {
     border-color: #f6b500;
     color: #000000;
     box-shadow: 0px 0px 27px -8px #ff0000;
 };
